<h1>Hello, Rails</h1>
<h2><%= link_to "Visitor's Page - answering questions: ", {:controller => "quizzs", :action => "answering",:id=>"1" } %>
<br>
<%= link_to 'Quizzes Management', quizzs_path %></h2>
